body{
    background-color: blue;
}
h1{
  text-align: center;
  background-color: pink;
  border-radius: 10px;
  border: 3px solid black;
}
.luis{
    width: 1300px;
}
p{
    text-align: center;
    font-size: 15px;
    font-family: arial black;
    justify-content: center;
}
.National1{
background-color: white;
}
.Europe1{
background-color: red;
}
.international1{
background-color: white;
}
h2{
    text-align: center;
}
img{
 border: 5px solid black;
  width: 440px;
  padding: 10px;
  background-color: #F7CF05;
}
div{
    text-align: center;
}
a{
    font-size: 18px;
    font-family: arial black;
    color: #000;
    text-decoration: none;
    background: none;
}
.UEFA{
    width: 270px;
}
.container {
display: flex;
justify-content: center;
gap: 5px;
}
.Wok {
    width: 25%;
    text-align: center;
}
.etoile{
    display: flex;
    justify-content: center;
}